@font-face {
	font-family: "Genshin";
	src: url("Genshin.ttf") format("truetype");
	font-weight: 900;
	font-display: swap;
}

@font-face {
	font-family: "GNU Unifont";
	src: url("unifont-17.0.05.otf") format("opentype");
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: "Mojangles";
	src: url("Mojangles.woff") format("woff");
	font-weight: normal;
	font-display: swap;
}

:root {
	--vp-c-brand-1: var(--vp-c-green-1);
	--vp-c-brand-2: var(--vp-c-green-2);
	--vp-c-brand-3: var(--vp-c-green-3);
	--vp-c-brand-soft: var(--vp-c-green-soft);
	--vp-home-hero-image-background-image: none;
	--vp-home-hero-image-filter: none;
	
	--minecraft-font: "Mojangles", "GNU Unifont", sans-serif
}

:root {
	--vp-home-hero-name-color: #000000;
}

:root.dark {
	--vp-home-hero-name-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Genshin", var(--vp-font-family-base);
}



.pyro {
	color: #fda96f;
}

.hydro {
	color: #0ae5ff;
}

.anemo {
	color: #a7f4ce;
}

.electro {
	color: #e2b9ff;
}

.dendro {
	color: #b2ec2b;
}

.quicken {
	color: #01e858;
}

.cryo {
	color: #d0fdfe;
}

.geo {
	color: #f3d862;
}

.physical { 
	color: #ffffff;
}



.black {
	color: #000000;
}

.dark_blue {
	color: #0000aa;
}

.dark_green {
	color: #00aa00;
}

.dark_aqua {
	color: #00aaaa;
}

.dark_red {
	color: #aa0000;
}

.dark_purple {
	color: #aa00aa;
}

.gold {
	color: #ffaa00;
}

.gray {
	color: #aaaaaa;
}

.dark_gray {
	color: #555555;
}

.blue {
	color: #5555FF;
}

.green {
	color: #55FF55;
}

.aqua {
	color: #55FFFF;
}

.red {
	color: #FF5555;
}

.light_purple {
	color: #FF55FF;
}

.yellow {
	color: #FFFF55;
}

.white {
	color: #FFFFFF;
}



mjx-container[jax="SVG"][display="true"] {
	overflow: visible !important;
}

.jump:not(:hover) {
	text-decoration: none;
}

div.center-table table {
	width: 100% !important;
	table-layout: auto;
}

.pad-vertical {
	padding: 1.5em 0em;
}

.grid {
	display: grid;
    justify-items: center;
    align-items: start;
	text-align: center;
    grid-template-columns: 1fr 1fr;
	row-gap: 1em;
}	

.small-images img {
	width: 75%;
	height: auto;
	margin: 0 auto;
	display: block;
	align-self: center;
	text-align: center;
}

.smaller-images img {
	width: 50%;
	height: auto;
	margin: 0 auto;
	display: block;
	align-self: center;
	text-align: center;
}

.smallest-images img {
	width: 25%;
	height: auto;
	margin: 0 auto;
	display: block;
	align-self: center;
	text-align: center;
}

.unifont {
    font-family: "GNU Unifont", monospace;
    font-synthesis: none;
}